/* ------------------ google font import ------------------ */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ------------------ universal css resets style ------------------ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

*::selection{
    background-color: rgb(170, 170, 170);
}

/* ------------------ use css variable ------------------ */
:root{
    /* ------------- font size define */
    --font-small: 0.875rem; /** 14px **/
    --font-medium: 1rem;    /** 16px **/
    --font-x-large: 1.5rem; /** 24px **/
    --font-x-large2: 1.75rem; /** 28px **/
    --font-xx-large: 2.375rem; /** 38px **/
    --font-xx-large2: 3.25rem; /** 52px **/

    /* ------------- line height define */
    --small-height: 0.875rem; /** 14px **/
    --x-large-height: 1.5rem; /** 24px **/
    --xx-large2-height: 1.75rem;   /** 28px **/
    --p-height: 143%;


    /* ------------- letter spacing define */
    --ls-0-1-p: 0.1px;
    --ls-1-8-p: 1.8%;

    /* ------------- color define */
    --dead-pixel: rgb(58, 58, 58);
    --watermelon-sugar: rgb(224, 44, 109);
    --river-styx: rgb(24, 25, 31);
    --black: rgba(0, 0, 0, 0.87);
    --infamous: rgb(120, 120, 133);
    --granite-gray: rgb(94, 99, 102);
    --razzmatazz: rgba(224, 44, 109, 0.87);
    --mysterious-depths: rgb(10, 8, 38);
    --dove-gray: rgb(108, 108, 108);
    --white: rgb(255, 255, 255);
    --white-op: rgba(255, 255, 255, 0.1);
    --big-fish-to-fry: gb(217, 219, 225);

    /* ------------- font family name define */
    --manrope: "Manrope", sans-serif;
    --poppins: "Poppins", sans-serif;
    --inter: "Inter", sans-serif;
    --roboto: "Roboto", sans-serif;

    /* ------------- font family name define */
    --wt-400: 400;
    --wt-500: 500;
    --wt-600: 600;
    --wt-700: 700;

}

/* ------------------ css reusable classes ------------------ */
.container{
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.brand{
    font-family: var(--poppins);
    font-size: var(--font-x-large);
    font-weight: var(--wt-700);
    color: var(--dead-pixel);
}

.nav-text{
    font-family: var(--poppins);
    font-size: var(--font-medium);
    font-weight: var(--wt-700);
    color: var(--dead-pixel);
}

.para-text{
    font-family: var(--poppins);
    font-size: var(--font-medium);
    font-weight: var(--wt-600);
    color: var(--dead-pixel);
    line-height: var(--x-large-height);
}

.para-text2{
    font-family: var(--poppins);
    font-size: var(--font-medium);
    font-weight: var(--wt-700);
    color: var(--dove-gray);
}

.main-text{
    font-family: var(--poppins);
    font-size: var(--font-xx-large2);
    font-weight: var(--wt-700);
    color: var(--dead-pixel);
}

.btn{
    display: inline-block;
    padding: 10px 24px;
    border-radius: 41px;
    background-color: var(--watermelon-sugar);
}

.btn-text{
    font-family: var(--poppins);
    font-size: var(--font-medium);
    font-weight: var(--wt-700);
    color: var(--white);
}

.section-text{
    font-family: var(--poppins);
    font-size: var(--font-x-large2);
    font-weight: var(--wt-600);
    color: var(--dead-pixel);
}

.card-title-text{
    font-family: var(--poppins);
    font-size: var(--font-x-large2);
    font-weight: var(--wt-500);
    color: var(--river-styx);
}

.card-price-text{
    font-family: var(--inter);
    font-size: var(--font-x-large);
    font-weight: var(--wt-400);
    color: var(--black);
}

.card-rating-text{
    font-family: var(--roboto);
    font-size: var(--font-small);
    font-weight: var(--wt-700);
    color: var(--granite-gray);
}

.card-para-text{
    font-family: var(--inter);
    font-size: var(--font-small);
    font-weight: var(--wt-700);
    color: var(--infamous);
    line-height: var(--p-height);
    letter-spacing: var(--ls-1-8-p);
}

.feature-title{
    font-family: var(--poppins);
    font-size: var(--font-xx-large);
    font-weight: var(--wt-700);
    color: var(--mysterious-depths);
}

.footer-title{
    font-family: var(--poppins);
    font-size: var(--font-x-large);
    font-weight: var(--wt-700);
    color: var(--white);
}

.footer-para{
    font-family: var(--manrope);
    font-size: var(--font-small);
    font-weight: var(--wt-700);
    color: var(--white);
}

/* ------------------------ header section start ------------------------ */

#header{
    width: 100%;
    min-height: 100vh;
}

#header-section{
    width: 100%;
}

.header-content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
}

.header-content .mobile-menu{
    display: none;
}

.header-content .nav-content{
    display: flex;
    align-items: center;
}

.header-content .nav-content .navbar .nav-items{
    display: flex;
    align-items: center;
}

.header-content .nav-content .navbar .nav-items .nav-list{
    margin-left: 34px;
}

.header-content .nav-content .navbar .nav-items .nav-list .nav-link{
    color: var(--dead-pixel);
}

.header-content .nav-content .nav-icon-box .nav-icon{
    font-size: 1.5rem;
    margin-left: 34px;
    color: var(--dead-pixel);
}

.header-content .nav-content .nav-icon-box .circle-icon{
    position: relative;
}

.header-content .nav-content .nav-icon-box .circle-icon .circle{
    width: 8px;
    height: 8px;
    background-color: var(--black);
    border-radius: 50%;
    border: 1px solid var(--white);
    position: absolute;
    right: 0;
    top: 1.5px;
}

.main-content{
    width: 100%;
    min-height: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-content .main-details{
    width: 580px;
}

.main-content .main-details .main-text{
    margin-bottom: 16px;
}

.main-content .main-details .para-text{
    margin-bottom: 16px;
}

.main-content .main-img-container{
    width: 475px;
    height: 475px;
    background-image: url("../assets/img/circle-design.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content .main-img-container .cam-img{
    width: 90%;
}

.brand-container {
    position: relative;
    max-width: 1200px;
    width: 100%;
    height: 124px;
    background-image: linear-gradient(135.00deg, rgba(192, 204, 218, 0.1) 0%,rgba(192, 204, 218, 0.6) 50.378%,rgba(192, 204, 218, 0.1) 100%);
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 61px;
}

.brand-container::before {
    content: '';
    position: absolute;
    top: 1px; 
    right: 0px; 
    bottom: 1px; 
    left: 0px; 
    background-color: var(--white);
}

.brand-container .brand-box{
    z-index: 1;
}
/* ------------------------ header section end ------------------------ */

/* ------------------------ popular collection section start ------------------------ */
#popular-collection-section{
    width: 100%;
    min-height: 100vh;
}

.popular-collection-content{
    max-width: 1047px;
    min-height: 100vh;
}

.popular-collection-content .popular-collection-heading{
    width: 100%;
    padding-top: 70px;
    text-align: center;
    margin-bottom: 50px;
}

.popular-collection-content .po-col-card-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 50px;
}

.popular-collection-content .po-col-card-container .card{
    width: 330px;
    min-height: 476px;
    border-radius: 5px;
    padding: 17px;
    background-color: var(--white);
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.popular-collection-content .po-col-card-container .card .card-img{
    width: 100%;
    margin-bottom: 16px;
}

.popular-collection-content .po-col-card-container .card .card-details .card-title-text{
    margin-bottom: 6px;
}

.popular-collection-content .po-col-card-container .card .card-details .card-price-text{
    margin-bottom: 6px;
}

.popular-collection-content .po-col-card-container .card .card-details .rating-box{
    display: flex;
    align-items: center;
    gap: 8px;
}

.popular-collection-content .po-col-card-container .card .card-details .rating-box .rating-icon{
    margin-top: 2px;
}

.popular-collection-content .po-col-card-container .card .card-details .rating-box .rating-icon .rating-star{
    color: rgb(251, 130, 0);
}

.popular-collection-content .po-col-card-container .card .card-details .rating-box .card-rating-text{
    margin-top: 5px;
}

.popular-collection-content .po-col-card-container .card .card-details .card-para-text{
    margin-top: 10px;
}

.popular-collection-content .see-more{
    color: var(--watermelon-sugar);
    display: block;
    text-align: right;
}
/* ------------------------ popular collection section end ------------------------ */

/* ------------------------ feature section start ------------------------ */
#feature-section{
    width: 100%;
    min-height: 50vh;
}

.feature-content{
    max-width: 1110px;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 96px;
}

.feature-content .feature-details{
    max-width: 610px;
    min-height: 224px;
}

.feature-content .feature-details .feature-para{
    max-width: 500px;
    margin-top: 16px;
}

.feature-content .feature-details .feature-btn{
    display: inline-block;
    padding: 10px 24px;
    background-color: var(--watermelon-sugar);
    margin-top: 16px;
}
/* ------------------------ feature section end ------------------------ */

/* ------------------------ footer section start ------------------------ */
#footer{
    width: 100%;
    min-height: 30vh;
    background-color: var(--mysterious-depths);
}

.footer-content{
    max-width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content .footer-details{
    width: 100%;
    text-align: center;
}

.footer-content .footer-details .footer-title{
    margin-bottom: 10px;
}

.footer-content .footer-details .footer-para{
    margin-bottom: 10px;
    line-height: 24px;
}

.footer-content .footer-details .footer-social-media{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 17px;
}

.footer-content .footer-details .footer-social-media .icon-box{
    width: 32px;
    height: 32px;
    background-color: var(--white-op);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--white);
    cursor: pointer;
}

.footer-content .footer-details .footer-social-media .icon-box .icon{
    font-size: 1.06rem;
}
/* ------------------------ footer section end ------------------------ */